*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  color: #00e08e;
  font-weight: bold;
}

@font-face {
  font-family: Atomic Age;
  src: url("../../assets/fonts/AtomicAge-Regular.ttf");
}

@font-face {
  font-family: ASAP;
  src: url("../../assets/fonts/Asap-VariableFont_wght.ttf");
}

.Main {
  display: flex;
  padding: 2em 18em;
  justify-content: center;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 720px) {
  .Main {
    display: flex;
    padding: 2em 1em;
    justify-content: center;
    height: 100%;
  }
}